body {
    background-color: rgb(231, 119, 39);
}
img {
    width: 100px;
    height: 300px;
}
article {
    background-color: aquamarine;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 60%;
    max-width: 900px;
    margin: auto;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: crimson solid 1px;
}
.info {
    font-weight: bold;
    color: chocolate;
    font-size: 1.2rem;
    text-align: center;
}
.info :nth-child(2) {
    text-decoration: underline;
}
.description {
    text-align: center;
    width: 80%;
    margin-bottom: 50px;
}